<div class="qcm-page">
    <div class="qcm-box z-depth-2">
        <div class="question-content"><h4>Question ?</h4></div>
        <div class="choices-box">
            <p>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Choix</label>
            </p>
        </div>
        <div class="btn-change-question flex">
            <i class="material-icons medium waves-effect">keyboard_arrow_left</i>
            <a class="btn-floating btn-medium waves-effect waves-light teal"><i class="material-icons">done</i></a>
            <i class="material-icons medium waves-effect">keyboard_arrow_right</i>
        </div>
    </div>
</div>