
.flex{
        display: flex;
}
.flex-wrap{
        flex-wrap: wrap;
}
.pointer:hover{
        cursor: pointer;
}
.grey-text-label{
        color: #bfbfbf;
 }
.badge-style{
        padding: 3px;
        background-color: #b9b9b9;
        border-radius: 50%;
}
.teal-border{
        border: 5px solid #26a69a !important;
}
.good-answer{
        height: 140px !important;
        padding: 5px 5px !important;
}
.add-question{
        border: 1px solid #26a69a;
        padding: 5px;
        margin: 3px;
}
.add-question-title{
        font-size: 18px;
        font-weight: lighter;
}
.choice{
        margin: 4px 0;
}
.margin-lie{
        margin: 2% 0 !important;
}
.drop-box{
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 170px;
        height: 180px;
        text-align: center;
        padding: 50px 10px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
}
.dragover{
        background: #DDD;
        border: 5px solid #F8F8F8;
}

.video-preview{
        width: 100px;
}
.anim{
        transition: all 1s;
}