@font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://localhost:3000/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://localhost:3000/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://localhost:3000/MaterialIcons-Regular.woff) format('woff'),
        url(https://localhost:3000/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
}
body{
        max-width: 2000px;
        /*max-height: 1600px;*/
}
ks-swiper-slide {
        max-width: 2000px;
        /*height: 80vh;*/
}

.flex{
        display: flex;
}
.flex-wrap{
        flex-wrap: wrap;
}
.pointer:hover{
        cursor: pointer;
}
.grey-text-label{
        color: #bfbfbf;
 }
.badge-style{
        padding: 3px;
        background-color: #b9b9b9;
        border-radius: 50%;
}
.teal-border{
        border: 5px solid #26a69a !important;
}
.good-answer{
        height: 140px !important;
        padding: 5px 5px !important;
}
.add-question{
        border: 1px solid #26a69a;
        padding: 5px;
        margin: 3px;
}
.add-question-title{
        font-size: 18px;
        font-weight: lighter;
}
.choice{
        margin: 4px 0;
        padding: 5px 3px !important;
        border-bottom: 2px solid #dcdcdc;
        min-height: 100px !important;
}
.margin-lie{
        margin: 2% 0 !important;
}
.drop-box{
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 170px;
        height: 180px;
        text-align: center;
        padding: 50px 10px;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
}
.dragover{
        background: #DDD;
        border: 5px solid #F8F8F8;
}

.video-preview{
        max-width: 100px;
}
.drop-box audio{
        max-width: 70%;
}
.anim{
        transition: all 1s;
}

/*----------question card---------*/
.qcm-box{
        /*min-width: 30%;*/
        /*height: 80vh;*/
        border: 1px solid lightgrey;
        background-color: rgba(255, 255, 255, 0.93);
}
.question-content{
       min-height: 15rem;
        background-color: #26a69a;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
}
.question-content h4{
        margin: 0;
        padding: 5px;
        font-weight: 300;
}
.choices-box{
        max-height: 30rem;
        min-height: 30rem;
        border-bottom: 1px solid lightgray;
}
.choices-box p{
        min-height: 6rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;
}
.btn-change-question{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
}
.btn-change-question i{
        border-radius: 50%;
        background-color: rgba(72, 72, 72, 0.09)
}
.box33 {
        min-width: 33.3333%;
}
.index-question{
        text-align: center;
}

/*TODO: pb responsive*/